
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
  }
  
  .nav {
      position: fixed;
      width: 100%;
      height: 80px;
      top: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  
  
  
  .brand {
      margin-left: 40px;
      color: #fff;
      font-size: 16px;
      margin-top:2vh;
  }
  
  .search {
      right: 2vw;
      color: #fff;
      font-size: 1.5vw;
  }
  
  .menu{
      right: 40px;
      color: #fff;
      font-size: 20px;
  }
  
  .menu{
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 20vw;
  
  }
  .menu li{
      margin: 0 1vw;
      font-size: 1.4vw;	
      transition: 0.18s ease-in;
      color:rgb(168, 167, 167);
      text-decoration: none;
  
  }
  .menu li a:hover{
      color: white;
      cursor: pointer;
  
  }
  .menu li a{
      text-decoration: none;
      color:rgb(168, 167, 167);
  }
  h1{
      color: white;
      position: absolute;
      top:10%;
      font-size: 4vw;
  }
  p{
      color: white;
      position: absolute;
      top:30%;
      font-size: 2.5vw;
  }
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .ig{
      position: absolute;
      top: 45%;
      width: 3vw;
      left:46%;
  }
  .vimeo{
    position: absolute;
    top: 45%;
    width: 3vw;
    left:50%;
}
  
  .brand a{
      text-decoration: none;
      color: white;
  }