
html,body{
    overflow: hidden;
}
body {
  margin: 0;
  padding: 0;

  background-size: cover;
  background-color: rgb(87, 86, 86);
  font-family: 'Bebas Neue', cursive;
}
.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand {
    margin-left: 40px;
    color: #fff;
    font-size: 16px;
    margin-top:2vh;
}
.search {
    right: 2vw;
    color: #fff;
    font-size: 1.5vw;
}

.menu{
    right: 40px;
    color: #fff;
    font-size: 20px;
}

.menu{
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 20vw;

}
.menu li{
	margin: 0 1vw;
	font-size: 1.4vw;	
	transition: 0.18s ease-in;
    color:rgb(168, 167, 167);
    text-decoration: none;

}
.menu li a:hover{
	color: white;
	cursor: pointer;

}
.menu li a{
    text-decoration: none;
    color:rgb(168, 167, 167);
}
h1{
    color: white;
    position: absolute;
    top:10%;
    font-size: 4vw;
    z-index: -1;
}
h2 span {
    -webkit-text-stroke: 0.2px #fff;
    color: rgba(0,0,0,0);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("hero.gif");
}
.projects-wrapper{
    width: 100%;
    margin-top: 10vh;
   
}
.project-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 30vh;
    
    overflow: hidden;
  
  
}
.brand a{
    text-decoration: none;
    color: white;
}
.project-wrapper h2{
    color: white;
    font-size: 4.5vw;
    margin-left: 4.5vw;
   
}
.wrapper1{
    flex-direction: column;
    margin-left:3vw;
}
.header1 span{
    margin-left: 3vw;
}

.wrapper2{
    margin-left:5vw;
    display: flex;
    flex-direction: row;
   
}
.wrapper3{
    margin-left:5vw;
    display: flex;
    flex-direction: row;
   
}
.siema{
    pointer-events: none;
}
iframe{
    width: 60vw;
    overflow:hidden;
}
.frame4{
    margin-left:4vw;
}

.project-wrapper h2.header2{
    font-size: 4.3vw;
}


.animation-container {
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("hero.gif");
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
}

.text-wrapper {
    color: white;
    position: absolute;
}

.text {
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 54px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }
    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }
    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}


