
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Bebas Neue', cursive;
}
.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.brand {
    margin-left: 40px;
    color: #fff;
    font-size: 16px;
    margin-top:2vh;
}
.search {
    right: 2vw;
    color: #fff;
    font-size: 1.5vw;
}

.menu{
    right: 40px;
    color: #fff;
    font-size: 20px;
}

.menu{
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 20vw;

}
.menu li{
	margin: 0 1vw;
	font-size: 1.4vw;	
	transition: 0.18s ease-in;
    color:rgb(168, 167, 167);
    text-decoration: none;

}
.menu li a:hover{
	color: white;
	cursor: pointer;

}
.menu li a{
    text-decoration: none;
    color:rgb(168, 167, 167);
}
h1{
    color: white;
    position: absolute;
    top:10%;
    font-size: 4vw;
    z-index: -1;
}
h2 span {
    -webkit-text-stroke: 0.2px #fff;
    color: rgba(0,0,0,0);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}
.projects-wrapper{
    width: 100%;
    margin-top: 36vh;
   
}
.project-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    margin-left: 10vw;
    overflow: hidden;
  
}
.brand a{
    text-decoration: none;
    color: white;
}
.project-wrapper h2{
    color: white;
    font-size: 4.5vw;
    margin-left: 4.5vw;
   
}
.wrapper2{
    margin-left:5vw;
    display: flex;
    flex-direction: row;
   
}
.wrapper3{
    margin-left:5vw;
    display: flex;
    flex-direction: row;
   
}
.siema{
    pointer-events: none;
}
.frame2{
    width: 60vw;
    overflow:hidden;
}


.project-wrapper h2.header2{
    font-size: 4.3vw;
}


