html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
}
.container{
    background: rgb(93,91,91);
  background: linear-gradient(90deg, rgba(93,91,91,1) 0%, rgba(0,0,0,1) 100%);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
}

.brand, .search, .menu {
    position: absolute;
    line-height: 80px;
}

.brand {
    margin-left: 40px;
    color: #fff;
    font-size: 16px;
}

.search {
    right: 2vw;
    color: #fff;
    font-size: 1.5vw;
}

.menu{
    right: 40px;
    color: #fff;
    font-size: 20px;
}

.header {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.3vw;
    letter-spacing: 3px;
}

h1 span {
    -webkit-text-stroke: 1px #fff;
    color: rgba(0,0,0,0);
}
h2{
    position: absolute;
    bottom: -25%;
    font-size: 3vw;
}
.menu{
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 20vw;

}
.menu li{
	margin: 0 1vw;
	font-size: 1.4vw;	
	transition: 0.18s ease-in;
    color:rgb(168, 167, 167);
    text-decoration: none;

}
.menu li a:hover{
	color: white;
	cursor: pointer;
    transition: 0.3s ease-in-out;
}
.menu li a{
    text-decoration: none;
    color:rgb(168, 167, 167);
}

.button{
    width: 9vw;
    height: 6vh;
    background-color: black;
    color: white;
    border: solid 2px white;
    position: absolute;
    top:115%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4vw;
    transition: ease-in-out;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color:black;
    transition: 0.5s ease-in-out;
}
@media(max-width:1048px){
    .nav{
        background-color: black;
    }
    .header{
        font-size: 8vw;
        bottom: -10%;
        left: 40%;
    }
    h2{
        margin-top: 5vh;
        bottom: 38%;
        font-size: 8vw;
    }
    .button{
        margin-top: 5vh;
        width: 45vw;
        font-size: 6vw;
        top:60%;
    }
}



