html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Bebas Neue', cursive;
}
.container{
    background: rgb(93,91,91);
  background: linear-gradient(90deg, rgba(93,91,91,1) 0%, rgba(0,0,0,1) 100%);
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
}

.brand, .search, .menu {
    position: absolute;
    line-height: 80px;
}

.brand {
    margin-left: 40px;
    color: #fff;
    font-size: 16px;
}

.search {
    right: 2vw;
    color: #fff;
    font-size: 1.5vw;
}

.menu{
    right: 40px;
    color: #fff;
    font-size: 20px;
    z-index: 999;
}

.header {
    position: absolute;
    top: 45%;
    left: 58%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2.3vw;
    letter-spacing: 3px;
    z-index: 1;
}

h1 span {
    -webkit-text-stroke: 1px #fff;
    color: rgba(0,0,0,0);
}
h2{
    position: absolute;
    bottom: -25%;
    font-size: 3vw;
}
.menu{
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 20vw;

}
.menu li{
	margin: 0 1vw;
	font-size: 1.4vw;	
	transition: 0.18s ease-in;
    color:rgb(168, 167, 167);
    text-decoration: none;

}
.menu li a:hover{
	color: white;
	cursor: pointer;
    transition: 0.3s ease-in-out;
}
.menu li a{
    text-decoration: none;
    color:rgb(168, 167, 167);
}

.button{
    width: 9vw;
    height: 6vh;
    background-color: black;
    color: white;
    border: solid 2px white;
    position: absolute;
    top:115%;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4vw;
    transition: ease-in-out;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color:black;
    transition: 0.5s ease-in-out;
}
.hamburger{
    display: none;
}
@media(max-width:1048px){
    .hamburger{
        display: block;
        color: white;
        width: 10vw;
        position: absolute;
        right: 8%;
        top: 30%;
    }
    .nav{
        height: 10vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }
    .menu{
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: black;
        right: -20px;
        z-index: 999;
        transition: 0.7s ease-in-out;
        position: absolute;
        transform: translateY(-100%);
      
        
    }
    
    .active{
      transform: translateY(0%) !important;
      
    }
    .menu li{
        margin-bottom: 10vh;
    }
    .menu a{
        font-size: 10vw;
    }
    .header{
        font-size: 8vw;
        bottom: 0%;
        left: 40%;
        z-index: 0;
    }
    .open{
        z-index: 1;
    }
    .close{
        z-index: -1;
    }
    h2{
        bottom: 11%;
        font-size: 8vw;
    }
    .button{
        width: 45vw;
        font-size: 6vw;
        top:89%;
    }
    .container{
        width: 100vw;
        height: 100vh;
        background-image: url("hero.gif");
        background-size: contain;
      
    }
    html,body{
        overflow: hidden;
    }

}



